<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RISC-V/SIMULATOR</title>

    <style>
        body{
            background-color: #93BFCF;
        }
        h1 {
            margin: auto;
            text-align: center;
            font-family: Montserrat, sans-serif;
            background-color: #6096B4;
        }

        button[type=submit] {
            margin-left: 15.5rem;
            margin-top: 15px;
        }

        button[type=reset] {
            margin-left: 23.5rem;
            margin-top: 15px;
        }

        input[type=reset] {
            margin-left: 90px;
            border-radius: 2px;
            cursor: pointer;
            float: bottom;
        }

        textarea {
            margin-top: 50px;
            margin-left: 12px;
            width: 75%;
            height: 40rem;
            padding: 20px 20px;
            border: 4px solid #080808;
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
        }

    </style>
</head>
<body>
    <h1 class="text-white">OUTPUT: </h1>
    <textarea name="input2" rows="" placeholder="Output"> <%= data %></textarea>
</body>
</html>